In [1]:
import numpy as np
import pandas as pd
df=pd.DataFrame([{"aa":1,"bb":2},{"bb":3,"cc":4}])
df=df.to_dict()
df

{'aa': {0: 1.0, 1: nan}, 'bb': {0: 2, 1: 3}, 'cc': {0: nan, 1: 4.0}}

In [2]:
pd.DataFrame(np.random.randint(2,11),
             columns=['zz','yy'],
             index=['a','b','c'])

   zz  yy
a   3   3
b   3   3
c   3   3

In [3]:
ind=pd.Index([20,15,4,78,34,56,3])
ind

Int64Index([20, 15, 4, 78, 34, 56, 3], dtype='int64')

In [4]:
ind[1]

15

In [5]:
ind[1:5:2]

Int64Index([15, 78], dtype='int64')

In [6]:
print(ind.shape,ind.size,ind.ndim,ind.dtype)

(7,) 7 1 int64

In [7]:
ind[1]=0

TypeError: Index does not support mutable operations

In [ ]:
u=np.random.RandomState(15)

In [ ]:
u

In [ ]:
s=pd.Series(u.randint(0,10,4))
s

In [ ]:
dfr=pd.DataFrame(u.randint(0,10,(5,4)),
                                 
                 columns=['A','B','C','D'])

In [ ]:
dfr

In [ ]:
np.exp(s)

In [ ]:
np.sin(dfr*np.pi/4)

In [ ]:
area=pd.Series({'Alaska':1342,'Texas':8732,'California':1245}, name='area')
population=pd.Series({'California':45678782,'Texas':9082342,'New York':120343902},name='population')
print(area)
print(population)

In [ ]:
population/area

In [ ]:
area.index|population.index

In [ ]:
A=pd.Series([1,3,5],index=[0,1,2])
B=pd.Series([7,8,9],index=[3,4,5])
print(A)
print(B)
A
B

In [ ]:
A=pd.Series([1,3,5],index=[0,1,2])
B=pd.Series([7,8,9],index=[3,4,5])
print(A)
print(B)
A

In [ ]:
A+B

In [ ]:
A=pd.Series([1,3,5],index=[0,1,2])
B=pd.Series([7,8,9],index=[1,2,3])
print(A)
print(B)
A+B

In [ ]:
A.add(B,fill_value=0)

In [ ]:
A.add(B)

In [ ]:
df2=pd.DataFrame({"Province":["NN","FG","IK"],"Population":["1000000","34523878","3890087"]})
df2

In [ ]:
u.to_dict()

In [ ]:
dfr.merge(df2)

In [10]:
data = {"Province": ["FL", "FL", "NH", "NH", "ZH"],
        "Year": [2013, 2014, 2013, 2014, 2014],
        "Literacy": [0.2, 0.1, 0.5, 0.3, 0.5]}
print(data)
data = pd.DataFrame(data)
data

{'Province': ['FL', 'FL', 'NH', 'NH', 'ZH'], 'Year': [2013, 2014, 2013, 2014, 2014], 'Literacy': [0.2, 0.1, 0.5, 0.3, 0.5]}

  Province  Year  Literacy
0       FL  2013       0.2
1       FL  2014       0.1
2       NH  2013       0.5
3       NH  2014       0.3
4       ZH  2014       0.5

In [11]:
df=pd.DataFrame(data,columns=["Year","Province","Literacy"])
df

   Year Province  Literacy
0  2013       FL       0.2
1  2014       FL       0.1
2  2013       NH       0.5
3  2014       NH       0.3
4  2014       ZH       0.5

In [ ]:
df['nonsense'] = df.Year / df.Literacy
df

In [12]:
df['Serie_aligned'] = pd.Series(range(5), index=[0,1,2, 3, 4])
df

   Year Province  Literacy  Serie_aligned
0  2013       FL       0.2              0
1  2014       FL       0.1              1
2  2013       NH       0.5              2
3  2014       NH       0.3              3
4  2014       ZH       0.5              4

In [ ]:
df.merge(df2)

In [8]:
df3=pd.DataFrame({"Province":["FL","NH"],"Population":["1000000","2000000"]})
df3

  Province Population
0       FL    1000000
1       NH    2000000

In [ ]:
df.merge(df3,right_on='Province',left_on='Province')

In [13]:
df4=pd.DataFrame({"Province":["FL","NH","UT"],"Population":["1000000","200000","5000000"]})
print(df4)
df.merge(df4,how='outer')

  Province Population
0       FL    1000000
1       NH     200000
2       UT    5000000

     Year Province  Literacy  Serie_aligned Population
0  2013.0       FL       0.2            0.0    1000000
1  2014.0       FL       0.1            1.0    1000000
2  2013.0       NH       0.5            2.0     200000
3  2014.0       NH       0.3            3.0     200000
4  2014.0       ZH       0.5            4.0        NaN
5     NaN       UT       NaN            NaN    5000000

In [17]:
serie_a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
                     index=['a','b','c','d','e','f'])

In [18]:
serie_a

a    NaN
b    2.5
c    NaN
d    3.5
e    4.5
f    NaN
dtype: float64

In [20]:
serie_b=pd.Series(np.arange(len(serie_a),dtype=np.float64),
                  index=['a','b','c','d','e','f'])

In [21]:
serie_b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [23]:
pd.Series(np.where(pd.isnull(serie_a),serie_b,serie_a),index=serie_a.index)

a    0.0
b    2.5
c    2.0
d    3.5
e    4.5
f    5.0
dtype: float64

In [24]:
serie_a.combine_first(serie_b)

a    0.0
b    2.5
c    2.0
d    3.5
e    4.5
f    5.0
dtype: float64